<h2>List of tasks</h2>

<ul>
  <li *ngFor="let task of tasks">

    <h3>{{ task.title }}</h3>

    <p>{{ task.description }}</p>

    <span> {{ task.dueDate }}</span>
    <span>{{ task.priority }}</span>
    <span> {{ task.status }}</span>

    <div>
      <small>Category: {{ task.category?.title }}</small>
    </div>

    <div>
      <small>Owner: {{ task.ownerUser?.fullName }}</small>
    </div>

    <div>
      <small>Assigned: {{ task.assignedUser?.fullName }}</small>
    </div>

  </li>
</ul>