@if (task) {

  <h2>Task Details</h2>

  <h3>{{ task.title }}</h3>

  <p>{{ task.description }}</p>

  <div>
    <small>Due Date: {{ task.dueDate }}</small>
  </div>

  <div>
    <small>Priority: {{ task.priority }}</small>
  </div>

  <div>
    <small>Status: {{ task.status }}</small>
  </div>

  <hr>

  <div>
    <small>Category: {{ task.categoryId }}</small>
  </div>

  <div>
    <small>Owner: {{ task.ownerUserId }}</small>
  </div>

  <div>
    <small>Assigned: {{ task?.assignedUserId}}</small>
  </div>

}
@else{
  <div>
    Loading...
  </div>
}

